<p>
  You can use <a href="https://getbootstrap.com/docs/5.3/components/alerts/" target="_blank">Alerts</a> for the colored boxes within each cell.
</p>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success">Full-width</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="alert alert-success">8</div>
      <!--2/3-->
    </div>

    <div class="col-md-4">
      <div class="alert alert-warning">4</div>
      <!--1/3-->
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="alert alert-danger">3</div>
      <!--1/4-->
    </div>

    <div class="col-md-9">
      <div class="alert alert-secondary">9</div>
      <!--3/4-->
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <div class="alert alert-info">5</div>
      <!--1/2-->
    </div>

    <!--<div class="col-md-2"></div>-->

    <div class="offset-md-2 col-md-5">
      <div class="alert alert-info">5</div>
      <!--1/2-->
    </div>
  </div>

  <div class="row">
    <div class="offset-2 col-md-8">
      <div class="alert alert-success">Centered 8</div>
      <!--offset-2 centers-->
    </div>
  </div>

  <div class="row">
    <div class="offset-1 col-md-10">
      <div class="alert alert-warning">Centered 10</div>
      <!--offset-1 centers-->
    </div>
  </div>

  <div class="row">
    <div class="offset-md-1 col-md-2">
      <div class="alert alert-warning">2</div>
    </div>
    <div class="col-md-2">
      <div class="alert alert-warning">2</div>
    </div>
    <div class="col-md-2">
      <div class="alert alert-warning">2</div>
    </div>
    <div class="col-md-2">
      <div class="alert alert-warning">2</div>
    </div>
    <div class="col-md-2">
      <div class="alert alert-warning">2</div>
    </div>
  </div>
</div>
