<!-- Write CSS in public/css/my_styles.css to make the following <a> tags look like buttons of various colors -->

<p>
  <a class="base-button other-buttons primary-btn">Primary</a>
</p>

<p>
  <a class="base-button other-buttons secondary-btn">Secondary</a>
</p>

<p>
  <a class="base-button other-buttons success-btn">Success</a>
</p>

<p>
  <a class="base-button other-buttons danger-btn">Danger</a>
</p>

<p>
  <a class="base-button other-buttons warning-btn">Warning</a>
</p>

<p>
  <a class="base-button other-buttons info-btn">Info</a>
</p>

<p>Less intrusive variants:</p>

<p>
  <a class="base-button btn-variant primary-simple-btn">Primary (unobtrusive)</a>
</p>

<p>
  <a class="base-button btn-variant secondary-simple-btn">Secondary (unobtrusive)</a>
</p>

<p>
  <a class="base-button btn-variant success-simple-btn">Success (unobtrusive)</a>
</p>

<p>
  <a class="base-button btn-variant danger-simple-btn">Danger (unobtrusive)</a>
</p>

<p>
  <a class="base-button btn-variant warning-simple-btn">Warning (unobtrusive)</a>
</p>

<p>
  <a class="base-button btn-variant info-simple-btn">Info (unobtrusive)</a>
</p>

<a class="btn btn-primary">Primary</a>
<a class="btn btn-secondary">Secondary</a>
<a class="btn btn-success">Success</a>
<a class="btn btn-danger">Danger</a>
<a class="btn btn-warning">Warning</a>
<a class="btn btn-info">Info</a>
<a class="btn btn-outline-primary">Primary (unobtrusive)</a>
<a class="btn btn-outline-secondary">Secondary (unobtrusive)</a>
<a class="btn btn-outline-success">Success (unobtrusive)</a>
<a class="btn btn-outline-danger">Danger (unobtrusive)</a>
<a class="btn btn-outline-warning">Warning (unobtrusive)</a>
<a class="btn btn-outline-info">Info (unobtrusive)</a>
